DATABASE_URL="postgresql://user:pass@server:port/db?sslmode=require"
RESOURCE_CSUI_SESSION_URL="https://resource.csui.dev/api/auth/session"
RESOURCE_CSUI_SESSION_COOKIE="session"
NEXT_PUBLIC_DOMAIN="csui24.vercel.app"
NEXT_PUBLIC_ENABLED_REACTIONS=👍,😂,😮,😢
# X_API_KEY=""
# X_API_KEY_SECRET=""
# X_ACCESS_TOKEN=""
# X_ACCESS_TOKEN_SECRET=""
